<section class="content-header">
  <h1>Listing Permissions</h1>
</section>
<section class="content">
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">
        <%= link_to '<i class="fa fa-plus"></i> New'.html_safe, new_permission_path, class: 'btn btn-xs btn-flat bg-gray' %>
        <% if has_policy(Permission, %w(generate_seeds)) and Rails.env.development? %>
            <%= link_to '<i class="fa fa-lightbulb-o"></i> Generate seeds'.html_safe,
                        'javascript:;', class: 'btn btn-xs btn-flat bg-orange generate-seed' %>
        <% end %>
      </h3>
      <div class="box-tools">
        <div class="input-group input-group-sm" style="width: 150px;">
          <%= search_form_for @search_permissions, url: url_for(controller: 'permissions', action: 'index') do |f| %>
              <%= f.text_field :name_or_action_or_controller_cont,
                               class: 'form-control pull-right',
                               type: 'search', placeholder: 'Search',
                               onkeyup: 'searchBlock(event)', style: 'height: 30px;'%>
          <% end %>
          <div class="input-group-btn">
            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </div>
    </div><!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
      <table class="table table-hover">
        <thead>
        <tr>
          <th style="width: 10px"></th>
          <th>Name</th>
          <th>Description</th>
          <th>Action</th>
          <th>Controller</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <% @permissions.each do |permission| %>
            <tr>
              <td><%= %></td>
              <td><%= permission.name %></td>
              <td><%= permission.description %></td>
              <td><%= permission.action %></td>
              <td><%= permission.controller %></td>
              <td class="actions">
                <div>
                  <%= link_to '<i class="fa fa-search"></i>'.html_safe, permission, class: 'btn btn-flat btn-xs bg-green' %>
                  <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_permission_path(permission), class: 'btn btn-flat btn-xs bg-blue' %>
                  <%= link_to '<i class="fa fa-trash"></i>'.html_safe, permission, method: :delete,
                              data: {confirm: 'Are you sure?'}, class: 'btn btn-flat btn-xs bg-red' %>
                </div>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div><!-- /.box-body -->
    <div class="box-footer clearfix">
      <%= custom_paginator @permissions, 'no-margin pull-right' %>
    </div>
  </div>
</section>
