<%= form_for(@restaurant) do |f| %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </div>

    <div>
      <%= f.fields_for :addresses do |address| %>
          <%= render '/shared/address_fields', f: address %>
      <% end %>
      <%= link_to_add_association "<i class='fa fa-plus'></i> Add Address".html_safe, f,
                                  :addresses, class: 'form-control',
                                  partial: '/shared/address_fields' %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
