<section class="content-header">
  <h1>Assign Permissions</h1>
</section>
<section class="content">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title"><%= @role.name %></h3>
      <div class="box-tools">
        <%= link_to '<i class="fa fa-arrow-left"></i> Back'.html_safe, roles_path, class: 'btn btn-xs btn-flat bg-gray' %>
      </div>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <%= form_tag assign_permissions_url, html: {class: 'form-horizontal'} do %>
        <div class="box-body">
          <div class="form-group">
            <% @permissions.each do |controller, permissions| %>
                <h3><%= controller.to_s %></h3>
                <div class="row form-group">
                  <% permissions.each do |permission| %>
                      <div class="col-xs-12 col-sm-6 col-md-3">
                        <div>
                          <%= check_box_tag "permissions_ids[#{permission.id}]", permission.id,
                                            @role.permissions.include?(permission) %>
                          <%= permission.name %>

                        </div>
                      </div>
                  <% end %>
                </div>
            <% end %>
          </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
          <div class="col-sm-offset-2">
            <%= submit_tag 'Send', class: 'btn btn-primary' %>
          </div>
        </div>
    <% end %>
  </div>
</section>
