<div class="login-box">
  <div class="login-logo">
    <b>Food</b> Delivery
  </div><!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Forgot your password?</p>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post}) do |f| %>
        <%= devise_error_messages! %>
        <div class="form-group has-feedback">
          <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email' %>
          <span class="fa fa-envelope-o form-control-feedback"></span>
        </div>
        <div class="row">
          <div class="col-xs-offset-6 col-xs-6">
            <%= f.button 'Send instructions', class: 'btn btn-primary btn-block btn-flat' %>
          </div><!-- /.col -->
        </div>
    <% end %>
    <%= render "users/shared/links" %>
  </div><!-- /.login-box-body -->
</div><!-- /.login-box -->
