<h2>Change Password</h2>

<%= form_for(@user, url: {action: 'save_password'}, validate: true, html: {class: 'form-horizontal'}, validate: true) do |f| %>

    <div class="field">
      <%= f.label :current_password %>
      <%= f.password_field :current_password, autofocus: true,
                           placeholder: 'Current password', autocomplete: 'off' %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, placeholder: 'new password', id: 'Password',
                           autocomplete: 'off' %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, placeholder: 'Confirm new password',
                           autocomplete: 'off' %>
    </div>


    <div class="actions">
      <%= f.submit "Update User" %>
    </div>
<% end %>

<%= link_to "Back", :back %>
