<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(@user, url: update_user_path(@user), html: {method: :put}) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br/>
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div>
      <%= f.fields_for :addresses do |address| %>
          <%= render '/shared/address_fields', f: address %>
      <% end %>
      <%= link_to_add_association "<i class='fa fa-plus'></i> Add Address".html_safe, f,
                                  :addresses, class: 'form-control',
                                  partial: '/shared/address_fields' %>
    </div>


    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br/>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br/>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br/>
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :role_id, class: 'col-md-3 control-label' %>
      <%= f.collection_select(:role_id, Role.all, :id, :name,
                              {prompt: 'Please select'}, {class: 'form-control'}) %>
    </div>

    <div class="actions">
      <%= f.submit "Update" %>
    </div>
<% end %>

<%= link_to "Back", :back %>